 body {
	display: flex;
	justify-content: center;
	background-image: url(EntreesWithSalad.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
}

h2 {
	margin-top: 10px;
}

p h5 {
	padding: 10%;
}
.pageContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logoBox {
	display: flex;
	justify-content: center;
	background-color: black;
	height: 105px;
	width: 200px;
}

.cardContainer {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-gap: 60px;
	align-content: center;
	margin-top: 100px;
}

.card {
	padding: 10%;
	background-color: #1b1401ab;
}

.card:hover {
	transition: .5s ease-in-out;
	box-shadow: .5rem .5rem #1b1402ab;
	padding: 8%;
}

.SMLogo {
	width: 50px;
	height: 50px;
	margin: 5%;
	margin-bottom: 10px;
}

.SMLogo:hover {
	transition: .2s ease-in-out;
	height: 55px;
	width: 55px;
}

#cardimg {
	height: 250px;
	width: 225px;
	padding: 5px;
	border: solid white;
	margin-left: 3%;
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 6em;
	margin-bottom: 0px;
}